.product-card {
  height: 100%;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.product-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #131415;

}


.product-card-img-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card:hover .product-card-img {
  transform: scale(1.05);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.product-card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  height: 2.5rem;
  overflow: hidden;


}

.product-card-price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dc3545;
  margin-top: auto;
}

.product-card-rating {
  margin-bottom: 0.5rem;
}

.product-card-reviews {
  font-size: 0.8rem;
  color: #6c757d;
}